<form method="post" action="{% url 'crud:leads_update' form.instance.pk %}" class="js-book-update-form">
  {% csrf_token %}
  

  
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Update Leads</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  
  <div class="modal-body">
    
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" value="{{ name }}" name="name" class="form-control shadow-sm" required>
    </div>  

      <div class="mb-3">
        <label class="form-label">Phone</label>
        <input type="phone" value="{{ phone }}" name="phone" class="form-control shadow-sm" required>
        
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" value="{{ email }}" name="email" class="form-control shadow-sm" required>
        
      </div>
      
      <div class="mb-3">
        <label class="form-label">Designation</label>
        <input type="text" value="{{ designation }}" name="designation" class="form-control shadow-sm" required>
      </div>
      
      
      
  
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm shadow-none" data-bs-dismiss="modal">Close</button>
    <button style="width: 130px;" type="submit" id="loading" class="btn btn-success btn-sm shadow-none"><i class="fa-solid fa-pen-to-square"></i> Update</button>
  </div>


</form>
